@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Sorts+Mill+Goudy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans';
  font-style: normal;
  min-height: 100vh;
}

li {
  list-style-type: none;
  /* Убираем маркеры */
}

a {
  text-decoration: none;
  color: #000000;
}

.btn-primary {
  cursor: pointer;
  padding: 14px 42px;
  background: #ffffff;
  border: 2px solid #000000;
  font-weight: 500;
}

#root {
  display: flex;
  justify-content: center;
  /* white-space: break-spaces; */
}

img {
  max-width: 100%;
}


.border-bottom {
  border-bottom: 2px solid black;
}

.border-top {
  border-top: 2px solid black;
}

.border-left {
  border-left: 2px solid black;
}

.border-right {
  border-right: 2px solid black;
}

.flex-direction-column {
  flex-direction: column;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.align-items-center {
  align-items: center;
}

.justify-content-space-around {
  justify-content: space-around;
}


.text-align-center {
  text-align: center;
}


@media only screen and (max-width: 600px) {
  .slide_header {
    font-size: 32px;
    font-family: Sorts Mill Goudy;
    line-height: 55px;
    height: 50px;
  }
}

.btn-primary:hover {
  color: white;
  background: black;
  border: 2px solid white;
}

.btn-primary:hover a {
  color: white;
}

@media only screen and (max-width: 900px) {
  .text_img {
    z-index: -1;
    top: 5px;
    position: relative;
  }
}

@media only screen and (min-width: 900px) {
  .text_img {
    z-index: -1;
    top: 10px;
    position: relative;
  }
}

.dot{
  cursor: pointer;
  position: absolute;
}
